body {
    padding-top: 70px;
}
.blp-menu li>a{
    padding-top: 20px;
    height: 70px !important;
    font-size: 18px;
}
.blp-header {
    background: #ffffff;
}
.blp-course h2 {
    color: #a03b1e;
}
.panel-body {
    text-align: center
}

.blp-video-thumb {
    border: 1px solid #008cba;
    padding: 4px;
    width: 100%;
}