body {
    padding-top: 80px;
}
.blp-menu li>a {
    padding-top: 25px;
    height: 70px !important;
    font-size: 18px;
}
.blp-menu .navbar-brand { 
    padding-top: 18px !important;
}
.blp-header {
    background: #ffffff;
}
.blp-course h2 {
    color: #a03b1e;
}
.blp-video-thumb {
    border: 1px solid #008cba;
    padding: 4px;
    width: 100%;
}