{% macro vimeo(videoId, width, height) %}
<div style="width: {{width}}px; height: {{height}}px; background: #333333;">
    <video width="{{width}}" height="{{height}}"  src="" id="video{{videoId}}" class="video-js vjs-sublime-skin vjs-big-play-centered" data-setup='{ "techOrder": ["vimeo"], "src": "https://vimeo.com/{{videoId}}", "controls": true, "autoplay": false, "preload": "auto" }'></video>
</div>
{% endmacro %}

{% macro youtube(videoId, width, height) %}
<div style="width: {{width}}px; height: {{height}}px; background: #333333;">
    <video width="{{width}}" height="{{height}}"  src="" id="video{{videoId}}" class="video-js vjs-default-skin vjs-big-play-centered" data-setup='{ "techOrder": ["youtube"], "src": "http://www.youtube.com/watch?v={{videoId}}", "controls": true, "autoplay": false, "preload": "auto" }'></video>
</div>
{% endmacro %}

{% macro videojs(width, height, id, url) %}
<div style="width: {{width}}px; height: {{height}}px; background: #333333;">
    <video width="{{width}}" height="{{height}}" id="video{{id}}" src="{{url}}" class="video-js vjs-default-skin vjs-big-play-centered" data-setup='{ "controls": true, "autoplay": false, "preload": "auto" }'></video>
</div>
{% endmacro %}