{% extends "layout.html" %}

{% block fullpage_deps %}
        <link rel="stylesheet" type="text/css" href="/static/css/jquery.fullPage.css" />
        <script src="/static/js/jquery.easings.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.slimscroll.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.fullPage.min.js"></script>
{% endblock fullpage_deps %}

{% block jumbotron %}
{% endblock jumbotron %}

{% block content %}
<div style="position: absolute; z-index: 11; right: 100px; top: 130px; width: 250px; height: 600px;">
    <div id="course_menu" class="course-list">
        <a href="#overview"><div data-menuanchor="overview">Overview</div></a>
        {% for video in course.videos %}
        <a href="#screencast_{{video.id}}"><div data-menuanchor="screencast_{{video.id}}">Lesson {{video.id}}</div></a>
        {% endfor %}
    </div>
</div>

<div id="fullpage">
    <div class="section" id="section0">
        <h2>{{course.title}}</h2>
        <div style="width: 850px;">
            <p>{{course.previewText}}</p>
        </div>
    </div>
    
    {% import 'helpers/video.html' as video_embed %}

    {% for video in course.videos %}
    <div class="section" id="section{{video.video_id}}">
        <h2><strong>{{ video.title }}</strong></h2>
            {% if video.type == "vimeo" %}
                {{ video_embed.vimeo(video.video_id, "800", 540) }}
            {% elif video.type == "youtube" %}
                {{ video_embed.youtube(video.video_id, "800", 540)}}
            {% endif %}
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#fullpage').fullpage({
        resize: false,
        scrollingSpeed: 800,
        normalScrollElementTouchThreshold: 2,
        keyboardScrolling: true,
        loopBottom: true,
        touchSensitivity: 2,
        menu: '#course_menu',
        anchors: [
            'overview',
        {% for video in course.videos %}
            'screencast_{{video.id}}',
        {% endfor %}
        ]
    });
});
</script>
{% endblock content %}