{% extends "layout.html" %}

{% block jumbotron %}
<div class="col-lg-12">
    <div class="jumbotron">
        <h1>BlipNoise Courses</h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <!--p><a class="btn btn-primary btn-lg">Learn more</a></p-->
    </div>
</div>
{% endblock jumbotron %}

{% block content %}
        {% for course in courses %}
        <div class="bs-docs-section">
                <div class="col-lg-6 col-md-6 col-sm-12 blp-course">
                    <div class="page-header">
                        <h2>{{course.title}}</h2>
                    </div>
                    <div class="bs-component">
                        <div>
                        {% for tag in course.tags %}
                            <a href="/categories/{{tag}}" class="label label-primary">{{tag}}</a>
                        {% endfor%}
                        </div>
                        <br/>
                        <div>
                            <div>
                            
                            <p>{{course.previewText}}
                            <div class="panel-group" id="course{{course.id}}">
                                <div>
                                    <div id="collapse{{course.id}}" class="panel panel-collapse collapse panel-primary">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Content:</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="list-group">
                                                {% for content in course.content %}
                                                <a href="#" class="list-group-item">{{content}}</a>
                                                {% endfor %}
                                            </div>
                                            <table class="table">
                                                <tr><td><strong>Lessons:</strong></td><td>{{course.lessons}}</td></tr>
                                                <tr><td><strong>Duration:</strong></td><td>{{course.duration}}</td></tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button data-toggle="collapse" data-parent="#course{{course.id}}" href="#collapse{{course.id}}" type="button" class="btn btn-default">Course details</button>
                            <a href="/course/{{course.alias}}">
                                <button type="button" class="btn btn-default">Go to course</button>
                            </a>
                            </div>
                        </div>
                        
                    </div>

            </div>
        </div>
        {% endfor %}
        <div class="col-md-12 bs-docs-section">
            <ul class="pager">
                <li><a href="#">Previous</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
{% endblock content %}