{% extends "layout.html" %}

{% block fullpage_deps %}
        <link rel="stylesheet" type="text/css" href="/static/css/jquery.fullPage.css" />
        <script src="/static/js/jquery.easings.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.slimscroll.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.fullPage.min.js"></script>

        <link href="/static/js/videojs/video-js.css" rel="stylesheet" />
        <script src="/static/js/videojs/video.dev.js"></script>
        <script>
            videojs.options.flash.swf = "/static/js/videojs/video-js.swf"
        </script>
        <script src="/static/js/vjs.youtube.js"></script>
        <script src="/static/js/vjs.vimeo.js"></script>

        <link href="/static/css/videojs-sublime-skin.css" rel="stylesheet" />

{% endblock fullpage_deps %}

{% block jumbotron %}
{% endblock jumbotron %}

{% block content %}
<div style="position: absolute; z-index: 11; right: 100px; top: 130px; width: 250px; height: 600px;">
    <div id="course_menu" class="course-list">
        <a href="#overview"><div data-menuanchor="overview">Overview</div></a>
        {% for video in course.videos %}
        <a href="#screencast_{{video.video_order}}"><div data-menuanchor="screencast_{{video.video_order}}">{{video.video_title}}</div></a>
        {% endfor %}
    </div>
</div>

<div id="fullpage">
    <div class="section" id="section0">
        <h2>{{course.title}}</h2>
        <div style="width: 850px;">
            <p>{{course.description}}</p>
        </div>
    </div>
    
    {% import 'helpers/video.html' as video_embed %}

    {% for video in course.videos %}
    <div class="section" id="section{{video.video_order}}">
        <h2><strong>{{ video.video_title }}</strong></h2>
            <div style="width: {{width}}px; height: {{height}}px; background: #333333;">
            </div>
            {% if video.type == "vimeo" %}
                {{ video_embed.vimeo(video.external_id, 750, 500) }}
            {% elif video.type == "youtube" %}
                {{ video_embed.youtube(video.external_id, 750, 500)}}
            {% elif video.type == "internal" %}
                {{ video_embed.videojs(750, 500, video.external_id, video.video_url) }}
            {% endif %}
    </div>
    {% endfor %}
</div>
http://vjs.zencdn.net/v/oceans.mp4
<script type="text/javascript">
$(document).ready(function() {
    $.ajax('/get-course/{{course.alias}}', {
        dataType: 'jsonp',
        jsonpCallback: 'callback_c'
    });

    $('#fullpage').fullpage({
        resize: false,
        scrollingSpeed: 800,
        normalScrollElementTouchThreshold: 2,
        keyboardScrolling: true,
        loopBottom: true,
        touchSensitivity: 2,
        menu: '#course_menu',
        anchors: [
            'overview',
        {% for video in course.videos %}
            'screencast_{{video.video_order}}',
        {% endfor %}
        ],
        afterLoad: function(i, l){
            loadEmbed(i, l);
        }
    });

    var loadEmbed = function(i, l) {
        console.log($('#' + l));
    };
});
</script>
{% endblock content %}