#top.navbar.navbar-default.navbar-fixed-top.blp-nav(role='navigation')
  .container
    .navbar-collapse.collapse
      ul.nav.navbar-nav.blp-menu
        li
          a.navbar-brand(href='/')
            img(src='/static/images/blipnoise-logo.png', width='140')
        |                 
        li
          a(href='/channel/') Channels
        |                 
        li
          a(href='/course/') Series
        |                 
        li
          a(href='/course/') Screencasts
      |             
      form.blp-search.navbar-form.navbar-right
        input.form-control(type='text', placeholder='Search')
